.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.navbar {
	background: #ffffff none;
}

.navbar-inverse .navbar-nav > li > a {
	color: #1b3478;
	text-shadow: none;
	font-family: playball, serif;
	font-size: larger;
}

.navbar-inverse .navbar-nav > li > a:focus {
	color: #000000;;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #ffffff none;
	color: #000000;
	box-shadow: none;
}

.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #ffffff;
	color: #000000;
}

.navbar-inverse .navbar-nav > .active > a:hover {
	background-color: #ffffff;
	color: #000000;
}

.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #ffffff;
	color: #000000;
}

@font-face {
	font-family: playball;
	src: url(../fonts/Playball.ttf) format('truetype');
}

.navbar-crest {
	padding: 5px 15px 5px 15px;
}

@media (min-width: 768px) {
	.navbar-center {
		float: right;

		position: relative;
		left: 50%;

	}
	.navbar-center-left {
		display: inline-block;
		/*margin: 0 auto;*/
		/*float: left !important;*/
	}
	.navbar-center-right {
		margin: 0 auto;
		float: right !important;
	}
	.navbar-center-right ~ .navbar-center-right {
		margin-right: 0;
	}
}
