.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

/*.navbar {*/
/*}*/

/*.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .active > a {*/
	/*background: #fff none;*/
/*}*/
